{% extends "fashion_home/layout.html" %}
{% load static %}

<!-- page title -->
{% block title %}
<title>activities</title>
{% endblock %}

{% block script %}

{% endblock %}

<!-- page body -->
{% block main %}
<div class="container" id="main">

	<h1 id="service_header">Our Services</h1>
	<div id="item_container">
		<div class="bg-primary">
			<h3><a href="#">Fashion</a></h3>
		</div>
		<div class="bg-primary">
			<h3><a href="#">Bead Making</a></h3>
		</div>
		<div class="bg-primary">
			<h3><a href="#">Hand Crafts</a></h3>
		</div>
		<div class="bg-primary">
			<h3><a href="#">Bag Making</a></h3>
		</div>
	</div>
</div>
{% endblock %}